body {
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7; 
}

.card {
    box-sizing: border-box;
    width: 320px;
    background: white;
    border: 1px solid rgba(217, 217, 217, 0.58);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    transition: transform 0.4s, box-shadow 0.4s;
    overflow: hidden;
    padding: 20px 15px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
    border-color: #f39c12;
}

#product {
    width: 200px;
    border-radius: 12px;
    margin-bottom: 15px;
    transition: transform 0.4s ease-in-out;
}

.card:hover #product {
    transform: scale(1.1);
}

.title {
    font-size: 16px;
    font-weight: bold;
    font-family: Arial;
    color: #333;
    margin: 10px 0;
}

.price-btn {
    color: #f39c12;
    font-size: 18px;
    font-family: Georgia;
    font-weight: bold;
    margin-bottom: 20px;
}

.cartBtn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
  font-weight: 500;
  position: relative;
  background-color: #F39C12;
  box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  margin: 10px;
  margin-left: 70px;
  
}

.cart {
  z-index: 2;
}

.cartBtn:active {
  transform: scale(0.96);
}

.product {
  position: absolute;
  width: 12px;
  border-radius: 3px;
  content: "";
  left: 23px;
  bottom: 23px;
  opacity: 0;
  z-index: 1;
  fill:white;
}

.cartBtn:hover .product {
  animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0) rotate(-90deg);
    opacity: 1;
  }
}

.cartBtn:hover .cart {
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}